<% if @control.errors.any? %>
<ul>
<% @control.errors.full_messages.each do |error_message| %>
   <li><p><%= error_message %></p> </li>
<% end %>
</ul>
<% end %>

<%= form_for [@user,@control] do |f| %>
	<%= f.label :level %>
	<%= f.number_field :level %>

	<%= f.datetime_select(:day, default: DateTime.current) %>
	<%= f.select(:period, Control.periods) %>

	<%= f.submit "Save" %>

	<% end %>