<% if @control.errors.any? %>


<% @control.errors.full_messages.each do |error_message| %>
<div class="alert alert-danger fade in">
	<button class="close" data-dismiss="alert">×</button>
   <%= error_message %>
</div>
<% end %>

<% end %>



	<div class="col-md-8 form">
	<%= form_for @control, :html => {:class => 'form-inline'} do |f| %>
		<p class="new_control_text">New Control</p>
		  <div class="form-group">
		  	<div class="input-group">
		      <%= f.label :level, class: "sr-only", for: "exampleInputEmail2" %>
		 
		      <%= f.number_field :level, class: "form-control", id: "exampleInputEmail2", placeholder: "Enter level" %>
		  
		  	</div>
		  </div>

		  <div class="form-group container">
		    <div class="row datetimeselect">
		        <div class='col-sm-12'>
		            <div class="form-group">
		                <div class='input-group date' id='datetimepicker1'>

		                    <%= f.text_field :day, default: DateTime.current, :class => 'form-control' %>
		                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
		                    </span>
		                </div>
		            </div>
		        </div>
		     </div>
		 </div>
		
		<div class="select_period">
		   <%= f.select :period, options_for_select([['pre-breakfast'], ['post-breakfast'],['pre-lunch'],['post-lunch'],['afternoon'],['pre-dinner'],['post-dinner']]), {}, class: "form-control" %>
        </div>  	
        	
		  <%= f.submit "Save", type:"submit", class: "btn btn-default button-save" %>
		  <button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-remove" aria-hidden="true"><%= link_to "Delete", control_path, method:'delete', data: {confirm: "Are you sure?"} %></span></button>
	<% end %>
	</div>